# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.*
!.env.example

# Uploads
uploads/

# Developer files
scratch/
reset.ts
ts_error.txt

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


src/configs/serviceAccountKey.json